* {
box-sizing:border-box;
}

body {
	background-color:#F2F2F2;
}

p {
	font-family:'Handsome W01 Regular';
	font-size: 25px;
	color:#3B0B17;
	text-decoration: none;
}

a {
	font-family:'Handsome W01 Regular';
	text-decoration: none;
	color:#F7819F;
}

.nav {
	font-family:'Handsome W01 Regular';
	font-size: 25px;
	color:#F6CED8;
	position:fixed;
	top:5px;
	left:15px;
}
a:hover {
	color:#3B0B17;
}

.letter {
	width: 150px;
	height:150px;
	display:inline-block;
	position: relative;
	margin-right:8px;
	margin-bottom:8px;
}

.layer1 {
	position: absolute;
	z-index: 1;
}


.layer2 {
	position:absolute;
	z-index:2;
	border-color:#F7819F;
}
/*B O T T O M*/
.layer3 {
	position: absolute;
	z-index: 3;
	width:1500px;
	margin:0 auto;
	margin-top:300px;
}
/* T O P */
.layer4 {
	position: absolute;
	z-index: 4;
	width:1500px;
	margin:0 auto;
	margin-top:300px;
	border-color:#F7819F;
}

/*B O T T O M*/
.layer5 {
	position: absolute;
	z-index: 5;
	width:1500px;
	margin:0 auto;
	margin-top:700px;
}
/* T O P */
.layer6 {
	position: absolute;
	z-index: 6;
	width:1500px;
	margin:0 auto;
	margin-top:700px;
	border-color:#F7819F;
}

/*B O T T O M*/
.layer7 {
	position: absolute;
	z-index: 5;
	width:1500px;
	margin:0 auto;
	margin-top:1100px;
}
/* T O P */
.layer8 {
	position: absolute;
	z-index: 6;
	width:1500px;
	margin:0 auto;
	margin-top:1100px;
	border-color:#F7819F;
}

/*B O T T O M*/
.layer9 {
	position: absolute;
	z-index: 5;
	width:1500px;
	margin:0 auto;
	margin-top:1500px;
}
/* T O P */
.layer10 {
	position: absolute;
	z-index: 6;
	width:1500px;
	margin:0 auto;
	margin-top:1500px;
	border-color:#F7819F;
}

/*B O T T O M*/
.layer11 {
	position: absolute;
	z-index: 5;
	width:1500px;
	margin:0 auto;
	margin-top:1900px;
}
/* T O P */
.layer12 {
	position: absolute;
	z-index: 6;
	width:1500px;
	margin:0 auto;
	margin-top:1900px;
	border-color:#F7819F;
}


/*B O T T O M*/
.layer13 {
	position: absolute;
	z-index: 5;
	width:1500px;
	margin:0 auto;
	margin-top:2300px;
}
/* T O P */
.layer14 {
	position: absolute;
	z-index: 6;
	width:1500px;
	margin:0 auto;
	margin-top:2300px;
}

.layer2 div div.a:before,
.layer2 div div.a:after,
.layer2 div div.e:before {
	background: #F7819F;
}

.layer4 div div.a:before,
.layer4 div div.a:after,
.layer4 div div.e:before {
	background: #F7819F;
}



/* THIS IS THE WEBSITE STUFF */

.container {
	width:1300px;
	height:100%;
	margin:0 auto;
}

.header {
	width:1075px;
	margin:0 auto;
	text-align: center;
	z-index: 1;
}



.left {
	width:600px;
	height:1000px;
	border:3px solid #F7819F;
	margin:25px;
	margin-top:200px;
	display:block;
	float:left;
}

.right {
	width:300px;
	height:1000px;
	border:3px solid #F7819F;
	margin:25px;
	margin-top:200px;
	display:block;
	float:left;
}

.word {
	transform: scale(0.4);
}

.word:hover {
	background-image:url('images/pasdedeux.gif');
	height:100%;
	background-repeat:no-repeat;
	position: inherit;
	right:100px;
	top:500px;

}



/* THIS IS ALPHABET STUFF */

.layer2 div div.v1,
.layer2 div div.v2,
.layer2 div div.h1,
.layer2 div div.d1,
.layer2 div div.d2,
.layer2 div div.d3,
.layer2 div div.h2,
.layer2 div div.h3,
.layer2 div div.v4{
	background: #F6CED8;
}

.layer2 div div.c1,
.layer2 div div.c2 {
	border-color: #F6CED8;
}

.layer4 div div.v1,
.layer4 div div.v2,
.layer4 div div.h1,
.layer4 div div.d1,
.layer4 div div.d2,
.layer4 div div.d3,
.layer4 div div.h2,
.layer4 div div.h3,
.layer4 div div.v4,
.layer4 div div.d8{
	background: #F6CED8;
}

.layer4 div div.c1,
.layer4 div div.c2,
.layer4 div div.c4 {
	border-color: #F6CED8;
}

.layer6 div div.v1,
.layer6 div div.v2,
.layer6 div div.h1,
.layer6 div div.d1,
.layer6 div div.d2,
.layer6 div div.d3,
.layer6 div div.h2,
.layer6 div div.h3,
.layer6 div div.v4,
.layer6 div div.d8,
.layer6 div div.d6,
.layer6 div div.d7{
	background: #F6CED8;
}

.layer6 div div.c1,
.layer6 div div.c2,
.layer6 div div.c4 {
	border-color: #F6CED8;
}

.layer8 div div.v1,
.layer8 div div.v2,
.layer8 div div.h1,
.layer8 div div.d1,
.layer8 div div.d2,
.layer8 div div.d3,
.layer8 div div.h2,
.layer8 div div.h3,
.layer8 div div.v4,
.layer8 div div.d8,
.layer8 div div.d6,
.layer8 div div.d7{
	background: #F6CED8;
}

.layer8 div div.c1,
.layer8 div div.c2,
.layer8 div div.c4 {
	border-color: #F6CED8;
}

.layer10 div div.v1,
.layer10 div div.v2,
.layer10 div div.h1,
.layer10 div div.d1,
.layer10 div div.d2,
.layer10 div div.d3,
.layer10 div div.h2,
.layer10 div div.h3,
.layer10 div div.v4,
.layer10 div div.d8,
.layer10 div div.d6,
.layer10 div div.d7{
	background: #F6CED8;
}

.layer10 div div.c1,
.layer10 div div.c2,
.layer10 div div.c4 {
	border-color: #F6CED8;
}

.layer12 div div.v1,
.layer12 div div.v2,
.layer12 div div.h1,
.layer12 div div.d1,
.layer12 div div.d2,
.layer12 div div.d3,
.layer12 div div.h2,
.layer12 div div.h3,
.layer12 div div.v4,
.layer12 div div.d8,
.layer12 div div.d6,
.layer12 div div.d7{
	background: #F6CED8;
}

.layer12 div div.c1,
.layer12 div div.c2,
.layer12 div div.c4,
.layer12 div div.c3{
	border-color: #F6CED8;
}

.layer14 div div.v1,
.layer14 div div.v2,
.layer14 div div.h1,
.layer14 div div.d1,
.layer14 div div.d2,
.layer14 div div.d3,
.layer14 div div.h2,
.layer14 div div.h3,
.layer14 div div.v4,
.layer14 div div.d8,
.layer14 div div.d6,
.layer14 div div.d7{
	background: #F6CED8;
}

.layer14 div div.c1,
.layer14 div div.c2,
.layer14 div div.c4,
.layer14 div div.c3{
	border-color: #F6CED8;
}

.h .v1,
.p .v1,
.n .v1,
.e .v1,
.f .v1,
.k .v1,
.l .v1,
.m .v1,
.r .v1,
.w .v1 {
	position: absolute;
	left:0;
	height:100%;
	width:6px;
	background: #F7819F;
	margin: 0 8px 8px 0;
}

.h .v2,
.n .v2,
.j .v2,
.m .v2,
.w .v2,
.four .v2 {
	position: absolute;
	right:0;
	height:100%;
	width:6px;
	background: #F7819F;
	margin: 0 0 8px 8px;
}

.h .h1,
.four .h1 {
	position: absolute;
	top:50%;
	height:6px;
	width:100%;
	background: #F7819F;

}

.o .c1,
.q .c1 {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border:6px solid #F7819F;
	border-radius: 50%
}

.d .c1 {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border:6px solid #F7819F;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%
}

.p .c1,
.r .c1 {
	position: absolute;
	top:0;
	right: 0;
	height:50%;
	width:100% ;
	border: 6px solid #F7819F;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}


.n .d1,
.x .d1 {
	position: absolute;
	left:5px;
	height:6px;
	width:204px;
	background: #F7819F;
	transform:rotate(45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(45.6deg);
	-webkit-transform-origin:0% 0%;
}

.a .d2 {
	position: absolute;
	bottom:0;
	left:5px;
	height:6px;
	width:154px;
	background: #F7819F;
	transform:rotate(-65.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(-65.6deg);
	-webkit-transform-origin:0% 0%;
}

.a .d3 {
	position: absolute;
	left:75px;
	height:6px;
	width:163px;
	background: #F7819F;
	transform:rotate(65.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(65.6deg);
	-webkit-transform-origin:0% 0%;
}

.a .h2 {
	position: absolute;
	top:50%;
	left:36px;
	height:6px;
	width:47%;
	background: #F7819F;

}

.b .c1 {
	position: absolute;
	top:0;
	right: 0;
	height:54%;
	width:100% ;
	border: 6px solid #F7819F;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%
}

.b .c2 {
	position: absolute;
	bottom:0;
	right: 0;
	height:50%;
	width:100% ;
	border: 6px solid #F7819F;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%
}

.c .c1,
.g .c1 {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border:6px solid #F7819F;
	border-right:6px solid white;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	border-right:none;
}

.e .h1,
.f .h1,
.i .h1,
.t .h1,
.z .h1,
.five .h1 {
	position: absolute;
	top:0;
	height:6px;
	width:100%;
	background: #F7819F;
}

.e .h2,
.f .h2 {
	position: absolute;
	top:50%;
	height:6px;
	width:50%;
	background: #F7819F;

}

.e .h3,
.i .h3,
.l .h3,
.z .h3,
.two .h3 {
	position: absolute;
	bottom:0;
	height:6px;
	width:100%;
	background: #F7819F;
}

.g .v3 {
	position: absolute;
	right:0;
	top:89px;
	height:40%;
	width:6px;
	background: #F7819F;
	margin: 0 0 8px 8px;
}

.g .h4 {
	position: absolute;
	top:83px;
	right:0;
	height:6px;
	width:40%;
	background: #F7819F;
}

.i .v4,
.t .v4,
.one .v4 {
	position: absolute;
	right:68px;
	top:0;
	height:100%;
	width:6px;
	background: #F7819F;
	margin: 0 0 8px 8px;
}

.j .c3 {
	position: absolute;
	bottom:0;
	right: 0;
	height:50%;
	width:100% ;
	border: 6px solid #F7819F;
	border-bottom-left-radius: 50%;
	border-top:white;
}

.k .d4 {
	position: absolute;
	left:5px;
	top:75px;
	height:6px;
	width:80%;
	background: #F7819F;
	transform:rotate(37.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(37.6deg);
	-webkit-transform-origin:0% 0%;
}

.k .d5 {
	position: absolute;
	left:5px;
	top:75px;
	height:6px;
	width:80%;
	background: #F7819F;
	transform:rotate(-41.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(-41.6deg);
	-webkit-transform-origin:0% 0%;
}

.m .d6 {
	position: absolute;
	left:5px;
	height:6px;
	width:69%;
	background: #F7819F;
	transform:rotate(45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(45.6deg);
	-webkit-transform-origin:0% 0%;
}

.m .d7 {
	position: absolute;
	top:71px;
	right:-26px;
	height:6px;
	width:69%;
	background: #F7819F;
	transform:rotate(-45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(-45.6deg);
	-webkit-transform-origin:0% 0%;
}

.q .d8 {
	position: absolute;
	left:88px;
	bottom:41px;
	height:6px;
	width:50%;
	background: #F7819F;
	transform:rotate(45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(45.6deg);
	-webkit-transform-origin:0% 0%;
}

.r .d8 {
	position: absolute;
	left:63px;
	bottom:74px;
	height:6px;
	width:67%;
	background: #F7819F;
	transform:rotate(45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(45.6deg);
	-webkit-transform-origin:0% 0%;
}

.u .c4 {
	position: absolute;
	bottom:0;
	right: 0;
	height:100%;
	width:100% ;
	border: 6px solid #F7819F;
	border-bottom-right-radius: 50%;
	border-top:white;
}

.v .d4 {
	position: absolute;
	bottom:-4px;
	left:66px;
	height:6px;
	width:154px;
	background: #F7819F;
	transform:rotate(-65.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(-65.6deg);
	-webkit-transform-origin:0% 0%;
}

.v .d5 {
	position: absolute;
	left:5px;
	height:6px;
	width:163px;
	background: #F7819F;
	transform:rotate(65.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(65.6deg);
	-webkit-transform-origin:0% 0%;
}

.w .d6 {
	position: absolute;
	top:73px;
	right:-28px;
	height:6px;
	width:68%;
	background: #F7819F;
	transform:rotate(45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(45.6deg);
	-webkit-transform-origin:0% 0%;
}

.w .d7 {
	position: absolute;
	bottom:-2px;
	left:0px;
	height:6px;
	width:69%;
	background: #F7819F;
	transform:rotate(-45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(-45.6deg);
	-webkit-transform-origin:0% 0%;
}

.x .d2,
.z .d2 {
	position: absolute;
	bottom:0;
	left:5px;
	height:6px;
	width:204px;
	background: #F7819F;
	transform:rotate(-45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(-45.6deg);
	-webkit-transform-origin:0% 0%;
}

.y .v4 {
	position: absolute;
	right:68px;
	bottom:0;
	height:50%;
	width:6px;
	background: #F7819F;
	margin: 0 0 8px 8px;
}

.y .d1 {
	position: absolute;
	left:13px;
	height:6px;
	width:65%;
	background: #F7819F;
	transform:rotate(45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(45.6deg);
	-webkit-transform-origin:0% 0%;
}

.y .d2 {
	position: absolute;
	top:68px;
	right:-24px;
	height:6px;
	width:65%;
	background: #F7819F;
	transform:rotate(-45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(-45.6deg);
	-webkit-transform-origin:0% 0%;
}

.s .c1 {
	position: absolute;
	top:0;
	left: 0;
	height:53%;
	width:100% ;
	border: 6px solid #F7819F;
	border-right:none;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.s .c2 {
	position: absolute;
	top:74px;
	right: -18px;
	height:50%;
	width:100% ;
	border: 6px solid #F7819F;
	border-left:none;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}


.three .c1 {
	position: absolute;
	top:0;
	right: 0;
	height:54%;
	width:100% ;
	border: 6px solid #F7819F;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border-left:none;
}

.three .c2,
.five .c2 {
	position: absolute;
	bottom:0;
	right: 0;
	height:50%;
	width:100% ;
	border: 6px solid #F7819F;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border-left:none;
}

.four .v1{
	position: absolute;
	top:0;
	height:50%;
	width:6px;
	background: #F7819F;
	margin: 0 8px 8px 0;
}

.two .c1 {
	position: absolute;
	top:0;
	right: 0;
	height:54%;
	width:100% ;
	border: 6px solid #F7819F;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border-left:none;
	
}

.two .d1{
	position: absolute;
	bottom:0;
	left:5px;
	height:6px;
	width:95px;
	background: #F7819F;
	transform:rotate(-45.6deg);
	transform-origin:0% 0%;
	-webkit-transform:rotate(-45.6deg);
	-webkit-transform-origin:0% 0%;
}

.five .v1 {
	position: absolute;
	top:0;
	height:50%;
	width:6px;
	background: #F7819F;
	margin: 0 8px 8px 0;	
}

.six .v1 {
	position: absolute;
	left:0;
	height:70%;
	width:6px;
	background: #F7819F;
	margin: 0 8px 8px 0;
}

.six .c1 {
	position: absolute;
	left:0;
	bottom:0;
	right:0;
	height:70%;
	width:70%;
	border:6px solid #F7819F;
	border-radius: 50%
}

/* Animations */


/* ONE */

@keyframes moveOne { /* right */
  0%   { left:0; }
  50%  { left: 50px; }
  100% { left: 0; }
}
.move-one {
    animation: moveOne 2s infinite;
}


/* TWO */

@keyframes moveTwo { /* down */
  0%   { top: 0; }
  50%  { top: 50px; }
  100% { top: 0; }
}
.move-two {
    animation: moveTwo 2s infinite;
}


/* THREE */

@keyframes moveThree { /* left*/
  0%   { top: 0; right: 0; }
  50%  { top: 0; right: 50px; }
  100% { top: 0; right: 0; }
}
.move-three {
    animation: moveThree 2s infinite;
}

.move-two-partner {
    animation: moveTwo 2.5s infinite;
}

/* FOUR */

@keyframes moveFour { /* up */
  0%   { bottom:0; }
  50%  { bottom: 50px; }
  100% { bottom: 0; }
}
.move-four {
    animation: moveFour 2s infinite;
}